streamlit
langchain
langchain-groq
langchain-classic
langchain-community
dotenv
faster-whisper
sounddevice
scipy
faiss-cpu
sentence-transformers
gtts
pydantic
langgraph
bs4
apscheduler
fastapi
torchvision